/*
    First  is  Top
    Second is  Right
    Third  is  Bottom
    Fourth is  Left
*/

/* margin   - поле, отступ */
/* padding  - отступ внутри поля */

body {
    font-family: monospace;
    background: cornsilk;
    margin: 5%;
}

h1 {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    border-radius: 0.5em;
    border: solid gainsboro;
    text-align: left;
    background: lavender;
}

p {
	margin: 0.5em;
	padding: 0;
}

.content-holder {
    margin-left: 1em;
	margin-right: 1em;
    padding: 0.5em;
    border-radius: 0.5em;
    border: solid gainsboro;
    text-align: justify;	
    background: lavender;
}