:root {
    /* Extra small devices (phones, 600px and down) max-width: 600px) */
    /* Small devices (portrait tablets and large phones, 600px and up) min-width: 600px */
    /* Medium devices (landscape tablets, 768px and up) min-width: 768px */
    /* Large devices (laptops/desktops, 992px and up) min-width: 992px */
    /* Extra large devices (large laptops and desktops, 1200px and up) min-width: 1200px */
    --color-1: rgba(255, 153, 153, .2);
    --color-2: rgba(251, 51, 51, .2);
    --color-3: rgba(102, 51, 153, .2);
    --color-4: rgba(51, 102, 203, .2);
    --color-5: rgba(51, 153, 51, .2);
    --color-6: rgba(51, 51, 51, .7);
}

.table-container {
    background-color: var(--color-1);
    transition:       background-color ease-in-out 500ms, color ease-in-out 500ms;
    width:            80%;
    min-width:        958px;
    height:           80vh;
    margin-left:      auto;
    margin-right:     auto;
    overflow:         auto;
}

/*@media screen and (max-width: 958px) {*/
/*.table-container {*/
/*color: rgb(255, 255, 255);*/
/*!*overflow-x: scroll;*!*/
/*}*/

/*.main-table {*/
/*table-layout: fixed;*/
/*}*/

/*.main-table th, .main-table td {*/
/*overflow:      hidden;*/
/*white-space:   nowrap;*/
/*text-overflow: ellipsis;*/
/*}*/
/*}*/

/*@media screen and (max-width: 900px) {*/
/*.table-container {*/
/*background-color: var(--color-2);*/
/*}*/
/*}*/

/*@media screen and (max-width: 768px) {*/
/*.table-container {*/
/*background-color: var(--color-3);*/
/*}*/
/*}*/

/*@media screen and (max-width: 462px) {*/
/*.table-container {*/
/*background-color: var(--color-6);*/
/*}*/
/*}*/

.main-table {
    border-collapse: collapse;
    box-sizing:      border-box;
    width:           100%;
    table-layout:    fixed;
}

.main-table th, .main-table td {
    border:         1px solid var(--color-1);
    vertical-align: top;
    padding:        2px;
    overflow:       hidden;
    white-space:    nowrap;
    text-overflow:  ellipsis;
}

.main-table th {
    background-color: var(--color-3);
    text-align:       center;
}

.main-table td {
    /*transition:       all ease-in-out 1s;*/
    /*transition-delay: 250ms;*/
    text-align: left;
}

.main-table th:nth-child(1), .main-table td:nth-child(1) {
    text-align: center;
    width:      40px;
}

.main-table th:nth-child(2), .main-table td:nth-child(2) {
    text-align: center;
    width:      40px;
}

.main-table .x-cell-1 {
}

.main-table .x-cell-2 {
}

.main-table .x-cell-3 {
}

.main-table .x-cell-4 {
}

.main-table .x-cell-5 {
}

.main-table .x-cell-6 {
}

.main-table .x-cell-7 {
}

.main-table .x-cell-8 {
}

.main-table .x-cell-9 {
}

.main-table td.hover {
    transition:       all ease-in-out 1s;
    transition-delay: 250ms;
    background-color: var(--color-6);
    color:            white;
}