.box {
    display: flex;
    cursor: default !important;
    padding: 6px 12px;
    min-height: 34px;
    margin: auto;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    user-select: none;
    font-size: 14px;
    line-height: 1.7;
    color: rgb(85, 85, 85);
    background: #fff none;
    overflow-wrap: break-spaces;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.box:empty {
    cursor: not-allowed !important;
    background: rgb(245, 245, 245) none;
}

.box.multi {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    line-height: 25px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.box.has-focus, .box:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.box.multi span {
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    padding-left: 6px;
    padding-right: 6px;
    margin-left: 3px;
    margin-right: 3px;
    transition: all .3s ease-in-out;
}

.box.multi.has-focus span,
.box.multi:focus span {
    cursor: pointer;
}

.box.multi.has-focus span:focus,
.box.multi:focus span:focus {
    background: #ff0;
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.box.multi.has-focus span:nth-child(even):focus,
.box.multi:focus span:nth-child(even):focus {
    transform: rotateZ(-360deg) scale(1.15);

}

.box.multi.has-focus span:nth-child(odd):focus,
.box.multi:focus span:nth-child(odd):focus {
    transform: rotateZ(360deg) scale(.85);
}