<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>vue-track-tree</title>
    <!------------------------- Scripts ------------------------->
    <!-- Vue -->
    <script src="../../../_lib/new/vue-js-2.6.10/vue.js"></script>
    <!------------------------- Scripts ------------------------->
    <!------------------------- CSS ----------------------------->
    <!-- Bootstrap -->
    <link href="../../../_lib/new/bootstrap-4.3.1/css/bootstrap.css" rel="stylesheet">
    <!-- Custom css goes below -->
    <link href="../css/vue-track-tree-style.css" rel="stylesheet">
    <!------------------------- CSS ----------------------------->
</head>
<body>
    <!------------------------- Main ---------------------------->
    <div id="vue-app">
        <div class="container">
            <template v-if="list">
                <table class="table table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th>#</th>
                            <th>ID</th>
                            <th>ParentID</th>
                            <th>Liter</th>
                            <th>Name</th>
                            <th>Characteristics</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item, key, index) in list"
                            v-bind:key="item.id"
                            @click="highlight($event), setID(key), getChars(key)" title="Click to load characteristics!">
                            <td>{{++index}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.parentId}}</td>
                            <td>{{item.liter}}</td>
                            <td>{{item.nameComponent}}</td>
                            <td v-bind:class="item.characteristics ? 'loaded' : 'empty'">{{item.characteristics ? 'Loaded' : 'Empty'}}</td>
                        </tr>
                    </tbody>
                </table>
            </template>
            <template v-else>
                <div class="intro">
                    <button class="btn btn-primary" @click="getList()">START</button>
                </div>
            </template>
        </div>
        <div id="bootstrap-modal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">ID:{{id}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!--                        <template v-if="list">-->
                        <!--                            <pre>Display characteristics!</pre>-->
                        <!--                        </template>-->
                        <!--                        <template v-else>-->
                        <!--                            <pre>No data found...</pre>-->
                        <!--                        </template>-->
                        <!--                        <characteristics :characteristics="chars" v-for="chars in list"></characteristics>-->
                        <characteristics-component v-for="(item) in list"></characteristics-component>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">Save changes</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!------------------------- Main ---------------------------->
    <!------------------------- Scripts ------------------------->
    <!-- jQuery -->
    <script src="../../../_lib/new/jquery-3.3.1/jquery.js"></script>
    <!-- Bootstrap -->
    <script src="../../../_lib/new/bootstrap-4.3.1/js/bootstrap.js"></script>
    <!-- Custom js goes below -->
    <script src="../js/data.js"></script>
    <script src="../js/vue-track-tree-script.js"></script>
    <!------------------------- Scripts ------------------------->
</body>
</html>