<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue-track-tree</title>
    <!------------------------- Scripts ------------------------->
    <!-- Vue -->
    <script src="../../../_lib/new/vue-js-2.6.10/vue.js"></script>
    <!------------------------- Scripts ------------------------->
    <!------------------------- CSS ----------------------------->
    <!-- Bootstrap -->
    <link href="../../../_lib/new/bootstrap-4.3.1/css/bootstrap.css" rel="stylesheet">
    <!------------------------- CSS ----------------------------->
</head>
<body>
    <!------------------------- Main ---------------------------->
    <div id="vue-app">
        <div class="container">
            <nav class="navbar bg-white sticky-top">
                <button class="btn btn-outline-primary" @click="getList()">Get List</button>
            </nav>
            <template v-if="list">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>ID</th>
                            <th>Liter</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item, key, index) in list" @click="highlight($event), setID(key)"
                            @dblclick="getChars(key)" title="Double Click to Open Characteristics...">
                            <td>{{++index}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.liter}}</td>
                            <td>{{item.nameComponent}}</td>
                        </tr>
                    </tbody>
                </table>
            </template>
        </div>
        <div id="bootstrap-modal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">ID:{{id}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <template v-if="chars">
                            <pre>{{JSON.stringify(chars, null, 2)}}</pre>
                        </template>
                        <template v-else>
                            <pre>No data found...</pre>
                        </template>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">Save changes</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!------------------------- Main ---------------------------->
    <!------------------------- Scripts ------------------------->
    <!-- jQuery -->
    <script src="../../../_lib/new/jquery-3.3.1/jquery.js"></script>
    <!-- Bootstrap -->
    <script src="../../../_lib/new/bootstrap-4.3.1/js/bootstrap.js"></script>
    <!-- Custom js goes below -->
    <script src="../js/data.js"></script>
    <script src="../js/vue-track-tree-script.js"></script>
    <!------------------------- Scripts ------------------------->
</body>
</html>