body {
    font-family: 'Fira Code', monospace;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Custom Font', serif;
}

p {
    color: steelblue;
    font-weight: bold;
}

input {
    font-family: "Consolas", monospace;
    font-weight: bold;
}

input.auto-replace, input:not([input-replace]) {
    background: rgb(252, 248, 227);
}

@font-face {
    font-family: 'Custom Font';
    src: url('../font/YanoneKaffeesatz-Bold.ttf');
}