:root {
    --padding:     0.5em;
    --line-height: 1.5em;
    --lines-count: 3;
}

* {
    box-sizing: border-box;
    margin:     0;
    padding:    0;
}

table {
    border-collapse: collapse;
    width:           50%;
    table-layout:    auto;
    border:          1px solid #ddd;
}

.box {
    border-radius: 4px;
    border:        1px solid #ddd;
    padding:       var(--padding);
    width:         500px;
    max-height:    calc((var(--padding) * 2) + (var(--line-height) * var(--lines-count)));
    line-height:   var(--line-height);
    box-shadow:    0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
    cursor:        default;
}

[class*="version"] {
    overflow: hidden;
}

.version-1 {
    /*transition:   max-height ease-in-out 500ms;*/
    text-align:   justify;
    text-justify: inter-word;
    position:     relative;
}

.version-1:after {
    content:          '...';
    font-weight:      bold;
    background-color: white;
    position:         absolute;
    top:              calc(var(--padding) + (var(--line-height) * (var(--lines-count) - 1)));
    right:            var(--padding);
    padding-left:     calc(var(--padding) / 2);
}

.version-1:hover {
    max-height: 100%;
    visibility: visible;
}

.version-1:hover:after {
    /*content: '';*/
    visibility: hidden;
}

.version-2 {
    text-align:         justify;
    text-justify:       inter-word;
    display:            -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow:      ellipsis;
}

.version-2:hover {
    max-height:         100%;
    -webkit-line-clamp: 100;
}

.version-3 {
    transition:   max-height ease-in-out 500ms;
    text-align:   justify;
    text-justify: inter-word;
}

.version-3:hover {
    max-height: 100%;
}