body {
    font-family: 'Custom Font', monospace;
}

.custom-font {
    font-family: 'Custom Font', monospace;
}

@font-face {
    font-family: 'Custom Font';
    src: url('../font/UbuntuMono-Regular.ttf') format('truetype');
}

table {
    border-collapse: collapse;
    width: 100%;
    cursor: pointer;
}

th, td {
    height: 3em;
    width: 5em;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
}

tr {
    transition: 250ms all;
}

tbody tr:hover {
    background-color: rgb(225, 255, 255);
    transition: 250ms all;
}

tbody tr:nth-child(even):hover {
    background-color: lightyellow;
    transition: 250ms all;
}

thead tr:hover,
tfoot tr:hover {
    background-color: lightpink;
    transition: 250ms;
}

table, th, td {
    border: 1px solid rgb(169, 169, 169);
}