body {
    font-family: 'Custom Font', monospace;
}

.custom-font {
    font-family: 'Custom Font', monospace;
}

@font-face {
    font-family: 'Custom Font';
    src: url('../font/UbuntuMono-Regular.ttf') format('truetype');
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    height: 3em;
    width: 5em;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
}

tr {
    transition: 250ms all;
}

tbody tr:hover {
    background-color: rgba(225, 255, 255, .6);
    transition: 250ms all;
}

tbody tr:nth-child(even):hover {
    background-color: rgba(255, 255, 224, .6);
    transition: 250ms all;
}

tbody.blink {
    animation: blink 500ms step-end infinite alternate;
    cursor: pointer;
    user-select: none;
}

tbody {
    outline: 2px solid rgb(200, 100, 200);
    outline-offset: -1px;
}

#tbodyForMainTable {
    outline: 0;
}

@keyframes blink {
    50% {
        background-color: rgba(245, 245, 245, .4);
        box-shadow: inset 0 0 20px 0 rgb(120, 120, 120);
        outline: 1px solid rgb(30, 30, 30);
        outline-offset: -1px;
    }
}

thead tr,
tfoot tr {
    background-color: rgba(255, 182, 193, .3);
    transition: 250ms;
}

table, th, td {
    border: 1px solid gray;
}