body {
    font-family: Consolas, monospace;
}

.custom-font {
    font-family: 'Custom Font', serif;
}

@font-face {
    font-family: 'Custom Font';
    src: url('../font/YanoneKaffeesatz-Bold.ttf');
}