:root {
    --border-color: rgb(204, 204, 204);
    --background-color: rgb(248, 248, 248);
    --box-height: 34px;
    --empty-message: 'Контейнер пуст... Пожалуйста, заполните контейнер необходимым содержимым!';
    --duration: .25s;
    --shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
    --shadow-2: 0 0 4px rgba(168, 168, 168, .5);
}

body {
    background-color: white;
}

.container {
    z-index: 0;
}

/*--- Box ---*/
.box {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

    min-width: 104px;
    min-height: var(--box-height);

    cursor: default;

    border: 1px solid var(--border-color);
    border-radius: 4px;

    position: relative;

    user-select: none;
    font-size: 14px;

    line-height: calc(var(--box-height) - 12px);
    padding: 4px 0 0 4px;

    color: rgb(85, 85, 85);

    /*box-shadow: var(--shadow);*/
    box-shadow: var(--shadow-2);

    transition: all .25s ease-in-out;
}

.box > .x-datepicker-dates {
    display: inherit;
    flex-flow: inherit;
    justify-content: inherit;
    align-items: inherit;
    align-content: inherit;
}

.box:empty {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: var(--box-height);
    background: var(--background-color) repeating-linear-gradient(
            -45deg,
            transparent 0px,
            var(--border-color) 1px,
            transparent 2px,
            transparent 7px
    );
    -webkit-font-smoothing: antialiased;
    color: rgb(248, 248, 248);
    letter-spacing: 2px;
    text-shadow: /* 1 */ 0 0 4px var(--border-color), /* 2 */ 0 0 4px var(--border-color),
        /* 3 */ 0 0 4px var(--border-color), /* 4 */ 0 0 4px var(--border-color),
        /* 5 */ 0 0 4px var(--border-color), /* 6 */ 0 0 4px var(--border-color),
        /* 7 */ 0 0 4px var(--border-color), /* 8 */ 0 0 4px var(--border-color),
        /* 9 */ 0 0 4px var(--border-color), /* 10*/ 0 0 4px var(--border-color),
        /* 11*/ 0 0 4px var(--border-color), /* 12*/ 0 0 4px var(--border-color),
        /* 13*/ 0 0 4px var(--border-color), /* 14*/ 0 0 4px var(--border-color),
        /* 15*/ 0 0 4px var(--border-color), /* 16*/ 0 0 4px var(--border-color),
        /* 17*/ 0 0 4px var(--border-color), /* 18*/ 0 0 4px var(--border-color),
        /* 19*/ 0 0 4px var(--border-color), /* 20*/ 0 0 4px var(--border-color)
    /**/
}

.box:empty:after {
    padding: 4px;
    content: var(--empty-message);
}

.box[contenteditable="true"] {
    height: var(--box-height);
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.box:empty.datepicker-container:before {
    display: none;
}

/*--- Datepicker ---*/
.box.datepicker-container {
    padding-right: 22px;
}

.box.datepicker-container .x-date {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;

    height: 100%;

    width: 94px;

    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;

    user-select: none;
    margin-right: 4px;
    margin-bottom: 4px;
    opacity: 1;
    color: rgb(85, 85, 85);
    transition: all .25s ease-in-out;
    transform: scale(1);

    box-shadow: var(--shadow-2);
}

.box.datepicker-container .x-date:not(:focus):hover {
    background-color: rgb(235, 235, 235);
    /*background-color: rgba(255, 255, 0, .2);*/
    /*background-color: rgba(92, 196, 239, .5);*/
}

.box.datepicker-container .x-date:focus:hover {
    /*background-color: rgb(235, 235, 235);*/
    /*background-color: rgba(255, 255, 0, .2);*/
    background-color: rgba(255, 255, 0, .2);
}

.box.datepicker-container .x-date .x-text {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-left: 2px;

    min-width: 76px;
}

.box.datepicker-container .x-date .x-remove {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    width: 16px;

    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;

    font-size: 10px;

    cursor: pointer;

    transition: all .25s ease-in-out;
}

.box.datepicker-container .x-date .x-remove:before {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    content: "\e014";
}

.box.datepicker-container .x-date .x-remove:hover {
    transform: rotate(180deg);
    color: rgb(217, 83, 79);
}

/*--- Effects ---*/
.box.datepicker-container .x-date.fade-out {
    transform: scale(0);
    opacity: 0;
    transition: opacity .25s ease-in-out, transform .25s ease-in-out;;
}

.box.datepicker-container .x-date.collapse-out {
    transform: scale(.3);
    width: 10px;
    opacity: 0;
    font-size: 1px;
    transition: transform .25s ease-in-out,
    opacity .25s ease-in-out,
    width .3s ease-in-out,
    font-size .25s ease-in-out;
}

.box.datepicker-container .x-date.zoom-in {
    transform: scale(2);
    opacity: 0;
    z-index: 1000;
    transition: transform .25s ease-in-out,
    opacity .25s ease-in-out;
}

.box.datepicker-container:before {
    content: '\e109';

    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;

    position: absolute;

    z-index: 2000;
    /*right: 19px;*/
    right: 4px;
    font-size: 18px;
    color: rgba(0, 0, 0, .075);
    /*top: 6px;*/
    top: 5px;
    transition: all .25s ease-in-out;
}

/* Datepicker popup */
.box.datepicker-container.v1 .x-datepicker-popup {
    /*position: absolute;*/
    /*top: 37px;*/
    /*left: -1px;*/

    width: 295px;
    height: 300px;
    background-color: white;

    z-index: 2999;

    opacity: 1 !important;
    top: 0 !important;

    display: none;

    border: 1px solid var(--border-color);
    border-radius: 4px;

    user-select: none;
    font-size: 14px;

    line-height: calc(var(--box-height) - 12px);
    padding: 4px;

    margin-bottom: 4px;
    margin-top: 4px;

    color: rgb(85, 85, 85);

    /*box-shadow: var(--shadow);*/
    box-shadow: var(--shadow-2);

    /*transition: opacity var(--duration) ease-in-out, box-shadow calc(var(--duration) * 2) ease-in-out;*/
    /*transition: opacity var(--duration) ease-in-out, top calc(var(--duration) * 4) ease-in-out;*/
    transition: all var(--duration) ease-in-out;
}

.box.datepicker-container.v1 .x-datepicker-popup.fade {
    opacity: 0 !important;
    /*box-shadow: none;*/
    /*left: -500px !important;*/
    top: -250px !important;
    /*transition: opacity var(--duration) ease-in-out, box-shadow calc(var(--duration) * 2) ease-in-out;*/
    /*transition: opacity var(--duration) ease-in-out, top calc(var(--duration) * 4) ease-in-out;*/
    transition: all var(--duration) ease-in-out;
}

.box.datepicker-container.v1 .x-datepicker-popup h1 {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    transition: all .25s ease-in-out;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.box.datepicker-container.has-focus:before {
    color: rgb(102, 175, 233);
}

.box.has-focus,
.x-date:focus,
.box:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    transition: all .25s ease-in-out;
}

.x-date:focus {
    background-color: rgba(92, 196, 239, .2);
    transition: all .25s ease-in-out;
}