:root {
    --border-color: rgb(204, 204, 204);
    --background-color: rgb(248, 248, 248);
    --box-height: 34px;
    --empty-message: 'Контейнер пуст... Пожалуйста, заполните контейнер необходимым содержимым!';
}

.box {
    min-width: 112px;
    min-height: var(--box-height);

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

    cursor: default;
    border: 1px solid var(--border-color);

    border-radius: 4px;

    user-select: none;
    font-size: 14px;

    line-height: calc(var(--box-height) - 12px);
    padding: 4px 0 0 4px;

    color: rgb(85, 85, 85);
}

.box:empty {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: var(--box-height);
    background: var(--background-color) repeating-linear-gradient(
            -45deg,
            transparent 0px,
            var(--border-color) 1px,
            transparent 2px,
            transparent 7px
    );
    -webkit-font-smoothing: antialiased;
    color: rgb(248, 248, 248);
    letter-spacing: 2px;
    text-shadow: /* 1 */ 0 0 4px var(--border-color), /* 2 */ 0 0 4px var(--border-color),
        /* 3 */ 0 0 4px var(--border-color), /* 4 */ 0 0 4px var(--border-color),
        /* 5 */ 0 0 4px var(--border-color), /* 6 */ 0 0 4px var(--border-color),
        /* 7 */ 0 0 4px var(--border-color), /* 8 */ 0 0 4px var(--border-color),
        /* 9 */ 0 0 4px var(--border-color), /* 10*/ 0 0 4px var(--border-color),
        /* 11*/ 0 0 4px var(--border-color), /* 12*/ 0 0 4px var(--border-color),
        /* 13*/ 0 0 4px var(--border-color), /* 14*/ 0 0 4px var(--border-color),
        /* 15*/ 0 0 4px var(--border-color), /* 16*/ 0 0 4px var(--border-color),
        /* 17*/ 0 0 4px var(--border-color), /* 18*/ 0 0 4px var(--border-color),
        /* 19*/ 0 0 4px var(--border-color), /* 20*/ 0 0 4px var(--border-color)

}

.box:empty:after {
    padding: 4px;
    content: var(--empty-message);
}

.box .pick-date {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    background-color: transparent;
    user-select: none;
    margin-right: 4px;
    margin-bottom: 4px;
    opacity: 1;
    color: rgb(85, 85, 85);
    transition: background-color .15s, opacity .25s ease-in-out, transform .25s ease-in-out;
    transform: scale(1);
}

.box .pick-date:hover {
    background-color: rgb(235, 235, 235);
}

.box .pick-date .text {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    min-width: 76px;
}

.box .pick-date .x-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    width: 16px;

    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;

    font-size: 10px;

    cursor: pointer;

    transition: all .25s ease-in-out;
}

.box .pick-date .x-btn:before {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    content: "\e014";
}

.box .pick-date .x-btn:hover {
    transform: rotate(180deg);
    color: rgb(217, 83, 79);
}

.box .pick-date.fade-out {
    transform: scale(0);
    opacity: 0;
    transition: opacity .25s ease-in-out, transform .25s ease-in-out;;
}