*, *:before, *:after {
    box-sizing: border-box;
    padding:    0;
    margin:     0;
}

@media (min-width: 768px) {
    #rh-alert .modal-dialog {
        width:  600px;
        margin: 10px auto;
    }
}

#rh-alert .modal-content {
    max-height: calc(100vh - 20px);
    overflow:   hidden;
}

#rh-alert .modal-body {
    white-space: pre-wrap;
    min-height:  50px;
    max-height:  calc(100vh - 20px - 125px);
    overflow-y:  auto;
}

#rh-alert .modal-header {
    user-select: none;
}

.rh-container {
    margin-left:     auto;
    margin-right:    auto;
    height:          100vh;
    width:           40vw;
    display:         flex;
    flex-direction:  column;
    justify-content: center;
    align-items:     center;
}

.rh-container > section {
    transition:    all 250ms ease-in-out;
    width:         100%;
    padding:       10px;
    border:        1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.rh-container > section:empty {
    display: none;
}

.rh-container > section:hover {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
}

.rh-container > section:not(:last-child) {
    margin-bottom: 10px;
}

.input-group-addon {
    width: 100px;
}

.btn-group {
    width: 100%;
}

.btn-group > button {
    width: 25%;
}