/* Таблица */

#mainTable {
    border-collapse: collapse;
    width: 90%;
    margin: auto;
    user-select: none;
    font-family: "Consolas", monospace;
    font-size: 9px;
}

#mainTable th, td {
    height: 1.2em;
    width: 4em;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
}

#mainTable tr {
    transition: 250ms background-color;
}

#mainTable td {
    color: lightgray;
}

#mainTable table, th, td {
    border: 1px solid gray;
}

#mainTable thead,
#mainTable tfoot {
    background-color: rgba(126, 189, 210, .5);
    font-weight: bold;
    color: white;
}

tr[data-level="1"] > td:nth-child(1) {
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgba(255, 0, 0, .1);
    color: red;
}

tr[data-level="2"] > td:nth-child(2) {
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgba(0, 128, 0, .1);
    color: green;
}

tr[data-level="3"] > td:nth-child(3) {
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgba(0, 0, 255, .1);
    color: blue;
}

tr[data-level="4"] > td:nth-child(4) {
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgba(255, 165, 0, .1);
    color: orange;
}

tr[data-level="1"] > td:nth-child(1) ~ td,
tr[data-level="2"] > td:nth-child(1),
tr[data-level="3"] > td:nth-child(1),
tr[data-level="4"] > td:nth-child(1) {
    background-color: rgba(255, 0, 0, .1);
}

tr[data-level="2"] > td:nth-child(2) ~ td,
tr[data-level="3"] > td:nth-child(2),
tr[data-level="4"] > td:nth-child(2) {
    background-color: rgba(0, 128, 0, .1);
}

tr[data-level="3"] > td:nth-child(3) ~ td,
tr[data-level="4"] > td:nth-child(3) {
    background-color: rgba(0, 0, 255, .1);
}

tr[data-level="4"] > td:nth-child(4) ~ td {
    background-color: rgba(255, 165, 0, .1);
}

/* Выделение */

tr.selected > td {
    color: black !important;
}

tr[data-level="1"].selected > td,
tr[data-level="2"].selected > td:nth-child(1),
tr[data-level="3"].selected > td:nth-child(1),
tr[data-level="4"].selected > td:nth-child(1) {
    background-color: rgba(255, 0, 0, .4) !important;
}

tr[data-level="2"].selected > td,
tr[data-level="3"].selected > td:nth-child(2),
tr[data-level="4"].selected > td:nth-child(2) {
    background-color: rgba(0, 128, 0, .4) !important;
}

tr[data-level="3"].selected > td,
tr[data-level="4"].selected > td:nth-child(3) {
    background-color: rgba(0, 0, 255, .4) !important;
}

tr[data-level="4"].selected > td {
    background-color: rgba(255, 165, 0, .4) !important;
}

/* Групповое выделение */

table[move-copy-mode="copy"] tr.border,
table[move-copy-mode="move"] tr.border,
table[move-copy-mode="copy"] tr.selected,
table[move-copy-mode="move"] tr.selected,
table[move-copy-mode="copy"] tr.selected.border,
table[move-copy-mode="move"] tr.selected.border {
    cursor: -webkit-grab;
}

tr.border {
    box-shadow: /* top */ inset 0 2px 0 0 black,
        /* left */ inset 2px 0 0 0 black,
        /* right */ inset -2px 0 0 0 black;
}

tr.border + tr.border {
    box-shadow: /* left */ inset 2px 0 0 0 black,
        /* right */ inset -2px 0 0 0 black;
}

tr.border + tr:last-child.border {
    box-shadow: /* left */ inset 2px 0 0 0 black,
        /* right */ inset -2px 0 0 0 black,
        /* bottom */ inset 0 -2px 0 0 black;
}

tr.border + tr:not(.border) {
    box-shadow: /* top */ 0 -2px 0 0 black;
}

tr:last-child.border {
    box-shadow: /* top */ inset 0 2px 0 0 black,
        /* left */ inset 2px 0 0 0 black,
        /* right */ inset -2px 0 0 0 black,
        /* bottom */ inset 0 -2px 0 0 black;
}

/* Место вставки */

tr.valid-place {
    cursor: pointer;
    transition: all 250ms;
    outline: 2px solid rgb(0, 170, 0);
    outline-offset: -1px;
}

tr.valid-place:hover {
    transition: all 250ms;
    outline: 4px solid rgb(0, 170, 0);
    background-color: rgb(220, 255, 220);
    outline-offset: -1px;
}

tr.valid-place td {
    border: 1px solid rgba(0, 170, 0, .1);
}

/* Место недоступное для вставки */

tr.invalid-place {
    /*font-size: 0;*/
    /*padding-top: 0;*/
    /*padding-bottom: 0;*/
    /*margin-top: 0;*/
    /*margin-bottom: 0;*/
    /*line-height: 0;*/
    cursor: not-allowed;
    background-color: rgba(255, 255, 255, .8);
}

tr.invalid-place td {
    border: 1px solid transparent;
}

/* Подсказка */

.tooltip {
    position: relative;
}

.tooltip .tooltip-text {
    visibility: hidden;
    opacity: 0;
    transition: opacity 500ms;
    width: 280px;
    background-color: rgb(120, 120, 120);
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 50%;
    margin-left: -140px;
}

.tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border: 5px solid transparent;
    border-bottom-color: rgb(120, 120, 120);
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
    transition: opacity 500ms;
}

/* Кнопки */

.btn-container {
    display: block;
    text-align: center;
    margin: 2px;
}

.btn-container button {
    transition: all 250ms;
    width: 140px;
    height: 3em;
    display: inline-block;
    margin: 4px;
    padding: 6px;
    font-size: 13px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: rgb(100, 100, 100);
    border-radius: 24px;
    border: 1px solid transparent;
    color: white;
    font-weight: normal;
}

.btn-container button:not(:disabled):hover {
    color: black;
    font-weight: bold;
    letter-spacing: 3px;
    transition: all 250ms;
    background-color: rgba(211, 211, 211, .5);
    box-shadow: rgb(100, 100, 100) 0 0 1em 2px;
    border: 1px solid transparent;
}

.btn-container button:focus {
    outline: 0;
}

.btn-container button:disabled,
.btn-container button.cancel:disabled,
.btn-container button.move:disabled {
    cursor: not-allowed;
    font-weight: bold;
    color: rgb(100, 100, 100);
    border: 2px solid rgb(100, 100, 100);
    -webkit-font-smoothing: antialiased;
    text-shadow: /* 1 */ 0 0 8px lightgray, /* 2 */ 0 0 8px lightgray,
        /* 3 */ 0 0 8px lightgray, /* 4 */ 0 0 8px lightgray,
        /* 5 */ 0 0 8px lightgray, /* 6 */ 0 0 8px lightgray,
        /* 7 */ 0 0 8px lightgray, /* 8 */ 0 0 8px lightgray,
        /* 9 */ 0 0 8px lightgray, /* 10 */ 0 0 8px lightgray,
        /* 11 */ 0 0 8px lightgray, /* 12 */ 0 0 8px lightgray,
        /* 13 */ 0 0 8px lightgray, /* 14 */ 0 0 8px lightgray,
        /* 15 */ 0 0 8px lightgray, /* 16 */ 0 0 8px lightgray,
        /* 17 */ 0 0 8px lightgray, /* 18 */ 0 0 8px lightgray,
        /* 19 */ 0 0 8px lightgray, /* 20 */ 0 0 8px lightgray,
        /* 21 */ 0 0 8px lightgray, /* 22 */ 0 0 8px lightgray,
        /* 23 */ 0 0 8px lightgray, /* 24 */ 0 0 8px lightgray,
        /* 25 */ 0 0 8px lightgray, /* 26 */ 0 0 8px lightgray,
        /* 27 */ 0 0 8px lightgray, /* 28 */ 0 0 8px lightgray,
        /* 29 */ 0 0 8px lightgray, /* 30 */ 0 0 8px lightgray,
        /* 31 */ 0 0 8px lightgray, /* 32 */ 0 0 8px lightgray,
        /* 33 */ 0 0 8px lightgray, /* 34 */ 0 0 8px lightgray,
        /* 35 */ 0 0 8px lightgray, /* 36 */ 0 0 8px lightgray,
        /* 37 */ 0 0 8px lightgray, /* 38 */ 0 0 8px lightgray,
        /* 39 */ 0 0 8px lightgray, /* 40 */ 0 0 8px lightgray;
    background: lightgray repeating-linear-gradient(
            -45deg,
            transparent 0px,
            rgb(100, 100, 100) 1px,
            transparent 2px,
            transparent 7px);
}

.btn-container button.cancel {
    border: 1px solid transparent;
    background-color: rgb(255, 0, 50);
}

.btn-container button.cancel:not(:disabled):hover {
    background-color: rgb(255, 160, 160);
    box-shadow: rgb(255, 0, 50) 0 0 1em 2px;
    border: 1px solid transparent;
    /*color: white;*/
}

.btn-container button.move {
    border: 1px solid transparent;
    background-color: rgb(0, 0, 140);
}

.btn-container button.move:not(:disabled):hover {
    background-color: rgb(160, 160, 255);
    box-shadow: rgb(0, 0, 140) 0 0 1em 2px;
    border: 1px solid transparent;
}

/* --- */

table[move-copy-mode="move"] tr.selected td,
table[move-copy-mode="copy"] tr.selected td {
    border: 1px solid rgba(100, 100, 100, .2);
}

.ui-tooltip {
    max-width: 350px;
    width: 350px;
    text-align: justify;
}

/* Диалог */

#move-copy-dialog .modal-body p {
    font-size: 11px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-family: Consolas, monospace;
}

#move-copy-dialog .modal-body span.root {
    font-weight: normal;
    color: rgb(160, 160, 160);
}

#move-copy-dialog .modal-body span.branch {
    font-weight: bold;
    font-size: 15px;
}

#check-dialog .modal-body {
    font-size: 15px;
    font-style: italic;
    text-align: justify;
}

#check-dialog .modal-footer button {
    width: 32%;
}