/* Таблица */

table {
    border-collapse: collapse;
    width: 90%;
    margin: auto;
    user-select: none;
    font-family: "Consolas", monospace;
    font-size: 14px;
}

th, td {
    height: 1.2em;
    width: 4em;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
}

tr {
    transition: 500ms background-color;
}

td {
    color: lightgray;
}

table, th, td {
    border: 1px solid gray;
}

table > thead,
table > tfoot {
    background-color: rgba(126, 189, 210, .5);
    font-weight: bold;
    color: white;
}

tr.level-1 > td:nth-child(1) {
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgba(255, 0, 0, .1);
    color: red;
}

tr.level-2 > td:nth-child(2) {
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgba(0, 128, 0, .1);
    color: green;
}

tr.level-3 > td:nth-child(3) {
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgba(0, 0, 255, .1);
    color: blue;
}

tr.level-4 > td:nth-child(4) {
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgba(255, 165, 0, .1);
    color: orange;
}

tr.level-1 > td:nth-child(1) ~ td,
tr.level-2 > td:nth-child(1),
tr.level-3 > td:nth-child(1),
tr.level-4 > td:nth-child(1) {
    background-color: rgba(255, 0, 0, .1);
}

tr.level-2 > td:nth-child(2) ~ td,
tr.level-3 > td:nth-child(2),
tr.level-4 > td:nth-child(2) {
    background-color: rgba(0, 128, 0, .1);
}

tr.level-3 > td:nth-child(3) ~ td,
tr.level-4 > td:nth-child(3) {
    background-color: rgba(0, 0, 255, .1);
}

tr.level-4 > td:nth-child(4) ~ td {
    background-color: rgba(255, 165, 0, .1);
}

/* Выделение */

/*table[move-mode="true"] tr.selected > td {*/
/*border: 1px solid rgba(128, 128, 128, .1);*/
/*}*/

tr.level-1.selected > td,
tr.level-2.selected > td:nth-child(1),
tr.level-3.selected > td:nth-child(1),
tr.level-4.selected > td:nth-child(1) {
    background-color: rgba(255, 0, 0, .4) !important;
}

tr.level-2.selected > td,
tr.level-3.selected > td:nth-child(2),
tr.level-4.selected > td:nth-child(2) {
    background-color: rgba(0, 128, 0, .4) !important;
}

tr.level-3.selected > td,
tr.level-4.selected > td:nth-child(3) {
    background-color: rgba(0, 0, 255, .4) !important;
}

tr.level-4.selected > td {
    background-color: rgba(255, 165, 0, .4) !important;
}

/* Групповое выделение */

table[move-mode="true"] tr.border,
table[move-mode="true"] tr.selected,
table[move-mode="true"] tr.selected.border {
    cursor: -webkit-grab;
}

tr.border {
    background-color: rgb(220, 220, 220);
    box-shadow: /* top */ inset 0 3px 0 0 black,
        /* left */ inset 3px 0 0 0 black,
        /* right */ inset -2px 0 0 0 black;
}

tr.border + tr.border {
    box-shadow: /* left */ inset 3px 0 0 0 black,
        /* right */ inset -2px 0 0 0 black;
}

tr.border + tr:last-child.border {
    box-shadow: /* left */ inset 3px 0 0 0 black,
        /* right */ inset -2px 0 0 0 black,
        /* bottom */ inset 0 -2px 0 0 black;
}

tr.border + tr:not(.border) {
    box-shadow: /* top */ 0 -3px 0 0 black;
}

tr:last-child.border {
    box-shadow: /* top */ inset 0 3px 0 0 black,
        /* left */ inset 3px 0 0 0 black,
        /* right */ inset -2px 0 0 0 black,
        /* bottom */ inset 0 -2px 0 0 black;
}

/* Место вставки */

tr.insert-here {
    cursor: pointer;
    transition: outline-width 250ms;
    outline: 2px solid rgb(0, 170, 0);
    outline-offset: -1px;
}

tr.insert-here:hover {
    outline: 5px solid rgb(0, 170, 0);
    outline-offset: -1px;
}

tr.insert-here td {
    border: 1px solid rgba(0, 170, 0, .1);
}

/* Место недоступное для вставки */

tr.unable-to-insert td {
    transition: opacity 500ms;
    cursor: not-allowed;
    opacity: .2;
    border: 1px solid rgba(128, 128, 128, .2);
}

/* Подсказка */

.tooltip {
    position: relative;
}

.tooltip .tooltip-text {
    visibility: hidden;
    opacity: 0;
    transition: opacity 500ms;
    width: 280px;
    background-color: rgb(120, 120, 120);
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 50%;
    margin-left: -140px;
}

.tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border: 5px solid transparent;
    border-bottom-color: rgb(120, 120, 120);
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
    transition: opacity 500ms;
}

/* Кнопки */

.btn-container {
    display: block;
    text-align: center;
    margin: 5px;
}

.btn-container button {
    transition: all 250ms;
    width: 100px;
    display: inline-block;
    padding: 6px;
    margin: 0;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: rgb(100, 100, 100);
    border-radius: 6px;
    border: 1px solid transparent;
    color: white;
    font-weight: bold;
}

.btn-container button:not(:disabled):hover {
    width: 200px;
    transition: all 250ms;
    border-radius: 12px;
}

.btn-container button:focus {
    outline: 0;
}

.btn-container button:disabled {
    cursor: not-allowed;
    color: rgba(128, 128, 128, .5);
    background: lightgray repeating-linear-gradient(
            -45deg,
            transparent 0px,
            rgba(128, 128, 128, .5) 1px,
            transparent 2px,
            transparent 5px);
}