body {
    width:            100vw;
    height:           100vh;
    display:          flex;
    align-items:      center;
    justify-content:  center;
    background-color: rgb(246, 246, 246);
}

.container-x {
    border:         1px solid rgba(0, 0, 0, 0.2);
    width:          50%;
    height:         50%;
    flex-direction: row;
    flex-wrap:      wrap;
    overflow-y:     auto;
    overflow-x:     hidden;
    padding:        20px;
}

.the-box {
    background:     rgba(0, 0, 0, 0.1);
    text-align:     justify;
    text-justify:   inter-character;
    user-select:    none;
    padding:        20px;
    margin-bottom:  30px;
    outline-offset: -3px;
    outline:        1px solid rgba(0, 0, 0, 0.2);
    background:     none repeat scroll 0 0 #FFFFFF;
    box-shadow:     0 1px 4px rgba(0, 0, 0, 0.4);
    position:       relative;
}

.the-box:last-child {
    margin-bottom: 0;
}

.the-box:before,
.the-box:after {
    content:  "";
    position: absolute;
    z-index:  -2;
}

.the-box:before {
    box-shadow:    0 0 15px rgba(0, 0, 0, 0.6);
    top:           50%;
    bottom:        0;
    left:          10px;
    right:         10px;
    border-radius: 100px / 10px;
}

