/* ----------------------------------- Title row ------------------------------------ */
#title-id-row td:first-child h3 {
    text-align: left;
}

#title-id-row td:last-child h3 {
    text-align: center;
    color: red;
}

/* ----------------------------------- Search row ----------------------------------- */
#search-row td:last-child div {
    /*text-align: center;*/
}

#search-row td:last-child input,
#search-row td:last-child button {
    width: 100%;
}

/* ---------------------------------- Address row ----------------------------------- */
#address-row td:first-child {
    text-align: center !important;
}

#address-row button {
    width: 160px !important;
}

#address-row textarea {
    resize: none;
}

/* ------------------------------ Inventory number row ------------------------------ */
#inventory-number-row td:last-child input {
    width: 100%;
}

/* ----------------------- INPUTS / BUTTONS / SELECTS GLOBAL ------------------------ */
.container input,
.container select,
.container button {
    height: 40px;
}

.container .btn-group button {
    cursor: default !important;
}

.container textarea, .container div.form-control {
    height: 74px;
    cursor: text !important;
}

/* ---------------------------------- TABLE GLOBAL ---------------------------------- */
#main-table td {
    height: 60px;
    vertical-align: middle !important;
}

#main-table tr td:first-child {
    width: 350px !important;
    min-width: 350px !important;
}

#main-table tr td:last-child {
    min-width: 350px;
}